.custom-font {
  font-family: "Jura", sans-serif;
}

.logo {
  img {
    height: 125px;
  }
}

.form {
  margin-top: 5%;
  ion-item {
    border-radius: 7px;
    border-color: #3858a2;
    border-width: 3px;
    border-style: ridge;
    margin-bottom: 10px;
  }
}
