<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-font">Ingresa Tus Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="form">
    <ion-item>
      <ion-input type="text" placeholder="Nombre" required="true" [(ngModel)]="user.firstName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Apellido" required="true" [(ngModel)]="user.lastName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Username" required="true" [(ngModel)]="user.userName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" required="true" [(ngModel)]="user.email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select type="password" placeholder="Sexo" required="true" [(ngModel)]="user.sex">
        <ion-select-option value="mujer">Mujer</ion-select-option>
        <ion-select-option value="hombre">Hombre</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Edad" required="true" [(ngModel)]="user.age">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        placeholder="Contraseña"
        required="true"
        [(ngModel)]="user.password"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block" color="dark" (click)= "register()" >Registrate</ion-button>
    <ion-button expand="block" color="dark" (click)="logout()">Logout</ion-button>
    <ion-button class="elbuton custom-font" color="dark" expand="block" (click)="testName()">say my name</ion-button
  >
  </div>
</ion-content>
