<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap"
  rel="stylesheet"
/>

<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../../assets/icon/DynaIcon.png" />
  </div>

  <div class="form">
    <ion-item lines="none">
      <ion-input
        class="custom-font"
        placeholder="Ingresa tu usuario"
        type="text"
        [(ngModel)]="user.userName" 
        required 
        name="userName"
      >
      </ion-input>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-input class="custom-font" placeholder="Contraseña" type="password"
      [(ngModel)]="user.password" required name="password">
      </ion-input>
    </ion-item>

    <br />
    <ion-button class="elbuton custom-font" color="dark" expand="block" (click)="login()"
      >Inicia Sesión</ion-button
    >
    <!-- <ion-button class="elbuton custom-font" color="dark" expand="block" (click)="testName()"
      >say my name</ion-button
    > -->
  </div>
  <br />
  <a class="custom-font" fill="clear" [routerLink]="['/register']"
    >Nuevo? Registrate Aqui</a>
</ion-content>
