<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap"
  rel="stylesheet"
/>

<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../../assets/icon/DynaIcon.png" />
  </div>

  <div class="form">
    <ion-item lines="none">
      <ion-input
        class="custom-font"
        placeholder="Ingresa tu usuario"
        type="text"
      >
      </ion-input>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-input class="custom-font" placeholder="Contraseña" type="password">
      </ion-input>
    </ion-item>

    <br />
    <ion-button class="elbuton custom-font" color="dark" expand="block"
      >Inicia Sesión</ion-button
    >
  </div>
  <br />
  <ion-button class="custom-font" fill="clear"
    >Nuevo? Registrate Aqui</ion-button
  >
</ion-content>
